<div *ngIf="item" class="col-md-6 big-dialog">
  <h2>ITEM - {{item.id}}</h2>
  <hr>
  <h3>{{item.name | uppercase}}</h3>
  <img src="assets/images/img-placeholder.png" alt="{{item.name}}">
  <p class="text-primary text">{{item.description}}</p>
  <h3>$ {{item.price}} <img src="assets/images/{{item.stockUrgency}}.png" alt="{{item.stockUrgency}}"></h3>
  <button routerLink="/items/detail/{{item.id}}/edit" class="btn btn-primary">Edit</button>
  <button (click)="goBack()" class="btn btn-default">Go back</button>
</div>
