<div class="col-md-6 big-dialog">
  <h2>Create Item</h2>
  <form [formGroup]="createItem" (ngSubmit)="addItem()">
    <div>
      <label for="name">Item Name:</label>
      <input id="name" formControlName="name" #itemName class="form-control">
    </div>
    <div>
      <label for="price">Price:</label>
      <input id="price" formControlName="price" #itemPrice class="form-control">
    </div>
    <div>
      <label for="description">Description:</label>
      <input id="description" formControlName="description" #itemDescription class="form-control">
    </div>
    <div>
      <label for="stock">Amount in Stock:</label>
      <input id="stock" formControlName="amountOfStock" #itemAmount  class="form-control">
    </div>

  <br><br>
  <button type="submit" class="btn btn-primary pull-right">Add Item</button>
  <button (click)="goBack()" class="btn btn-default">Go back</button>
  </form>
</div>
